# Library

In [120]:
import pandas as pd
import numpy as np

# Configuration

In [65]:
pd.set_option('display.max_columns', None)

# Import Dataset

In [130]:
sales = pd.read_csv('dataset/amazon.csv')
sales.head(5)

,product_id,product_name,category,discounted_price,actual_price,discount_percentage,rating,rating_count,about_product,user_id,user_name,review_id,review_title,review_content,img_link,product_link
0,B07JW9H4J1,Wayona Nylon Braided USB to Lightning Fast Cha...,Computers&Accessories|Accessories&Peripherals|...,₹399,"₹1,099",64%,4.2,"24,269",High Compatibility : Compatible With iPhone 12...,"AG3D6O4STAQKAY2UVGEUV46KN35Q,AHMY5CWJMMK5BJRBB...","Manav,Adarsh gupta,Sundeep,S.Sayeed Ahmed,jasp...","R3HXWT0LRP0NMF,R2AJM3LFTLZHFO,R6AQJGUP6P86,R1K...","Satisfied,Charging is really fast,Value for mo...",Looks durable Charging is fine tooNo complains...,https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Wayona-Braided-WN3LG1-Sy...
1,B098NS6PVG,Ambrane Unbreakable 60W / 3A Fast Charging 1.5...,Computers&Accessories|Accessories&Peripherals|...,₹199,₹349,43%,4.0,"43,994","Compatible with all Type C enabled devices, be...","AECPFYFQVRUWC3KGNLJIOREFP5LQ,AGYYVPDD7YG7FYNBX...","ArdKn,Nirbhay kumar,Sagar Viswanathan,Asp,Plac...","RGIQEG07R9HS2,R1SMWZQ86XIN8U,R2J3Y1WL29GWDE,RY...","A Good Braided Cable for Your Type C Device,Go...",I ordered this cable to connect my phone to An...,https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Ambrane-Unbreakable-Char...
2,B096MSW6CT,Sounce Fast Phone Charging Cable & Data Sync U...,Computers&Accessories|Accessories&Peripherals|...,₹199,"₹1,899",90%,3.9,"7,928",【 Fast Charger& Data Sync】-With built-in safet...,"AGU3BBQ2V2DDAMOAKGFAWDDQ6QHA,AESFLDV2PT363T2AQ...","Kunal,Himanshu,viswanath,sai niharka,saqib mal...","R3J3EQQ9TZI5ZJ,R3E7WBGK7ID0KV,RWU79XKQ6I1QF,R2...","Good speed for earlier versions,Good Product,W...","Not quite durable and sturdy,https://m.media-a...",https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Sounce-iPhone-Charging-C...
3,B08HDJ86NZ,boAt Deuce USB 300 2 in 1 Type-C & Micro USB S...,Computers&Accessories|Accessories&Peripherals|...,₹329,₹699,53%,4.2,"94,363",The boAt Deuce USB 300 2 in 1 cable is compati...,"AEWAZDZZJLQUYVOVGBEUKSLXHQ5A,AG5HTSFRRE6NL3M5S...","Omkar dhale,JD,HEMALATHA,Ajwadh a.,amar singh ...","R3EEUZKKK9J36I,R3HJVYCLYOY554,REDECAZ7AMPQC,R1...","Good product,Good one,Nice,Really nice product...","Good product,long wire,Charges good,Nice,I bou...",https://m.media-amazon.com/images/I/41V5FtEWPk...,https://www.amazon.in/Deuce-300-Resistant-Tang...
4,B08CF3B7N1,Portronics Konnect L 1.2M Fast Charging 3A 8 P...,Computers&Accessories|Accessories&Peripherals|...,₹154,₹399,61%,4.2,"16,905",[CHARGE & SYNC FUNCTION]- This cable comes wit...,"AE3Q6KSUK5P75D5HFYHCRAOLODSA,AFUGIFH5ZAFXRDSZH...","rahuls6099,Swasat Borah,Ajay Wadke,Pranali,RVK...","R1BP4L2HH9TFUP,R16PVJEXKV6QZS,R2UPDB81N66T4P,R...","As good as original,Decent,Good one for second...","Bought this instead of original apple, does th...",https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Portronics-Konnect-POR-1...

# Data Understanding

In [79]:
# Data Information
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1465 entries, 0 to 1464
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   product_id           1465 non-null   object
 1   product_name         1465 non-null   object
 2   category             1465 non-null   object
 3   discounted_price     1465 non-null   object
 4   actual_price         1465 non-null   object
 5   discount_percentage  1465 non-null   object
 6   rating               1465 non-null   object
 7   rating_count         1463 non-null   object
 8   about_product        1465 non-null   object
 9   user_id              1465 non-null   object
 10  user_name            1465 non-null   object
 11  review_id            1465 non-null   object
 12  review_title         1465 non-null   object
 13  review_content       1465 non-null   object
 14  img_link             1465 non-null   object
 15  product_link         1465 non-null   object
dtypes: object(16)
memory usage: 183.3+ KB

In [80]:
print(f'This dataset have {sales.shape[0]} Rows and {sales.shape[1]} Columns in total')

This dataset have 1465 Rows and 16 Columns in total

### Summary : 
* Dataset Shape is 1464 x 16
* Data Types are all object, expected columns to be numerics are 'discounted_price', 'actual_price', 'discount_percentage', 'rating', 'rating_count'
* There is some missing value on columns 'rating_count'

# Data Cleaning

## Change all the expected numerics columns/features from object

In [135]:
# Discounted Price
sales['discounted_price'] = sales['discounted_price'].replace('₹', '', regex=True).replace(',', '', regex=True).astype(float)

# Actual Price
sales['actual_price'] = sales['actual_price'].replace('₹', '', regex=True).replace(',', '', regex=True).astype(float)

# Discounted Percentage
sales['discount_percentage'] = sales['discount_percentage'].replace('%', '', regex=True).astype(float)

# Rating Count
sales['rating_count'] = sales['rating_count'].replace(',','',regex=True).astype(float)

For the 'rating' we need to inspect a little more cause when we just convert to float it's give an error that there some non number value in the columns

In [136]:
sales['rating'].value_counts().reset_index()

   rating  count
0     4.1    244
1     4.3    230
2     4.2    228
3     4.0    129
4     3.9    123
5     4.4    123
6     3.8     86
7     4.5     75
8       4     52
9     3.7     42
10    3.6     35
11    3.5     26
12    4.6     17
13    3.3     16
14    3.4     10
15    4.7      6
16    3.1      4
17    3.0      3
18    4.8      3
19    5.0      3
20    2.8      2
21    3.2      2
22    2.3      1
23      |      1
24      2      1
25      3      1
26    2.6      1
27    2.9      1

if we see from table given above, there's a '|' value on index 23

solution :
1. We can search the rating online and replace it with the rating we found
2. We can replace it with null and later impute it with median or mean

In [137]:
# Solution 2
sales['rating'] = sales['rating'].replace('|', np.nan).astype(float)

In [138]:
# New Data Information
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1465 entries, 0 to 1464
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   product_id           1465 non-null   object
 1   product_name         1465 non-null   object
 2   category             1465 non-null   object
 3   discounted_price     1465 non-null   float64
 4   actual_price         1465 non-null   float64
 5   discount_percentage  1465 non-null   float64
 6   rating               1464 non-null   float64
 7   rating_count         1463 non-null   float64
 8   about_product        1465 non-null   object
 9   user_id              1465 non-null   object
 10  user_name            1465 non-null   object
 11  review_id            1465 non-null   object
 12  review_title         1465 non-null   object
 13  review_content       1465 non-null   object
 14  img_link             1465 non-null   object
 15  product_link         1465 non-null   object
dtypes: float64(5), object(11)
memory usage: 183.3+ KB

## Checking for Missing Value (NULL)

In [139]:
sales.isna().sum()

product_id             0
product_name           0
category               0
discounted_price       0
actual_price           0
discount_percentage    0
rating                 1
rating_count           2
about_product          0
user_id                0
user_name              0
review_id              0
review_title           0
review_content         0
img_link               0
product_link           0
dtype: int64

From the data given, we know that we have 3 missing data

### Rating

In [ ]:
# Rating missing value data
sales.query('rating.isna()')

,product_id,product_name,category,discounted_price,actual_price,discount_percentage,rating,rating_count,about_product,user_id,user_name,review_id,review_title,review_content,img_link,product_link
1279,B08L12N5H1,Eureka Forbes car Vac 100 Watts Powerful Sucti...,"Home&Kitchen|Kitchen&HomeAppliances|Vacuum,Cle...",2099.0,2499.0,16.0,NaN,992.0,No Installation is provided for this product|1...,"AGTDSNT2FKVYEPDPXAA673AIS44A,AER2XFSWNN4LAUCJ5...","Divya,Dr Nefario,Deekshith,Preeti,Prasanth R,P...","R2KKTKM4M9RDVJ,R1O692MZOBTE79,R2WRSEWL56SOS4,R...","Decent product,doesn't pick up sand,Ok ok,Must...","Does the job well,doesn't work on sand. though...",https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Eureka-Forbes-Vacuum-Cle...

In [148]:
# Fill the missing value with median
sales['rating'] = sales['rating'].fillna(value=sales['rating'].median())

### Rating Count

In [ ]:
# Rating Count missing value data
sales.query('rating_count.isna()')

,product_id,product_name,category,discounted_price,actual_price,discount_percentage,rating,rating_count,about_product,user_id,user_name,review_id,review_title,review_content,img_link,product_link
282,B0B94JPY2N,Amazon Brand - Solimo 65W Fast Charging Braide...,Computers&Accessories|Accessories&Peripherals|...,199.0,999.0,80.0,3.0,NaN,USB C to C Cable: This cable has type C connec...,AE7CFHY23VAJT2FI4NZKKP6GS2UQ,Pranav,RUB7U91HVZ30,The cable works but is not 65W as advertised,I have a pd supported car charger and I bought...,https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Amazon-Brand-Charging-Su...
324,B0BQRJ3C47,"REDTECH USB-C to Lightning Cable 3.3FT, [Apple...",Computers&Accessories|Accessories&Peripherals|...,249.0,999.0,75.0,5.0,NaN,💎[The Fastest Charge] - This iPhone USB C cabl...,AGJC5O5H5BBXWUV7WRIEIOOR3TVQ,Abdul Gafur,RQXD5SAMMPC6L,Awesome Product,Quick delivery.Awesome ProductPacking was good...,https://m.media-amazon.com/images/I/31-q0xhaTA...,https://www.amazon.in/REDTECH-Lightning-Certif...

In [152]:
# Fill the missing data using mean
sales.rating_count = sales.rating_count.fillna(value=sales.rating_count.mean())

### Result

In [151]:
sales.isna().sum()

product_id             0
product_name           0
category               0
discounted_price       0
actual_price           0
discount_percentage    0
rating                 0
rating_count           0
about_product          0
user_id                0
user_name              0
review_id              0
review_title           0
review_content         0
img_link               0
product_link           0
dtype: int64

Missing value problem solved !

## Checking for duplicate data

In [158]:
# Checking for duplicate rows
print(sales.duplicated().any())

False

In [159]:
# Checking for duplicate data each columns/features
for i in sales.columns:
    print(f'Duplicate in {i.ljust(23)}: {sales[i].duplicated().sum()}')

Duplicate in product_id             : 114
Duplicate in product_name           : 128
Duplicate in category               : 1254
Duplicate in discounted_price       : 915
Duplicate in actual_price           : 1016
Duplicate in discount_percentage    : 1373
Duplicate in rating                 : 1440
Duplicate in rating_count           : 321
Duplicate in about_product          : 172
Duplicate in user_id                : 271
Duplicate in user_name              : 271
Duplicate in review_id              : 271
Duplicate in review_title           : 271
Duplicate in review_content         : 253
Duplicate in img_link               : 53
Duplicate in product_link           : 0

Key Point:
1. Why there are duplicates in 'product_id' column
2. The number of duplicates 'product_name' and 'product_id' aren't the same